.htm
.html
.DS_Store
.DS_Store?
.Trashes
Win32
x64
!libraries/x64/*
!libraries/Win32/*
Release
.vs
Relativty_Driver/Relativty/bin/win32/*
Relativty_Driver/Relativty/bin/win64/*
!Relativty_Driver/Relativty/bin/win32/*.dll
!Relativty_Driver/Relativty/bin/win64/*.dll
Relativty_Driver/DriverLog/Release*
Debug
DebugWin32
Debugx64